<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        html,
        body {
        font-family: "Poppins", sans-serif;
        font-size: 1.2em;
        }
        .fs-small {
            font-size: 1em;
        }
        
        .font-bold{
            font-size: 1.3em;
            font-weight: 600;
        }
        .float-left {
            float:left;
        }
        .technology {
            padding: 2px 8px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            background-color: #fff;
        }
        .ls-2 {
            letter-spacing: 2px;
        }
    </style>
    <title>Resume</title>
  </head>
    <body>
        <div>

            <div class="px-4">
                <h2 class="mx-4 font-bold mt-4">{{data.user.firstname}} {{data.user.lastname}} </h2>
                {{!-- <p class="mx-4 fs-small mb-2 text-secondary">{{user.tagline}}</p> --}}
            </div>

            <hr></hr>
            
            <div class="px-4">

                <div class="col-5 float-left bg-light p-4">

                    <h3 class="mb-3 ls-2">• INFO</h3>

                    <h4 class="m-0 text-secondary">Position:</h4>
                    <p class="m-0 mb-2">{{data.user.jobtitle}}</p>
                    <h4 class="m-0 text-secondary">Location:</h4>
                    <p class="m-0 mb-2">{{data.user.city}} {{data.user.state}}</p>
                    <h4 class="m-0 text-secondary">Contact:</h4>
                    <p class="m-0 mb-2">{{data.user.number}}</p>
                    <h4 class="m-0 text-secondary">E-Mail:</h4>
                    <p class="m-0">{{data.user.email}}</p>

                    <hr></hr>

                    {{!-- <h3 class="mb-3 ls-2">• LINKS</h3>

                    <h4 class="m-0 text-secondary">LinkedIn:</h4>
                    <a class="m-0 mb-2" href="{{user.linkedin}}"></a>
                    <h4 class="m-0 text-secondary">GitHub:</h4>
                    <a class="m-0 mb-2" href="{{user.github}}"></a> --}}

                    <hr></hr>

                    <h3 class="mb-3 ls-2">• SKILLS</h3>

                    <div class="d-flex flex-wrap">
                          {{#each data.user.skills}}
                         <p class="technology rounded float-left my-1">{{data.user.skills}}
                           {{/each}}
                    </div>

                </div>

                <div class="col-7 float-left p-4">

                    <h3 class="mb-3 ls-2">• ABOUT</h3>

                    <p class="m-0">{{data.user.aboutme}}</p>

                    <hr></hr>

                    <h3 class="mb-3 ls-2">• WORK EXPERIENCE</h3>

                          {{#each data.ex}}
        <div>
            <h3 class="float-left text-secondary">• </h3> <h3 class="ps-3 text-secondary">{{data.ex.jobtitle}}</h3>
            <p class="m-0 ps-3">{{data.ex.projectname}} • {{data.ex.startm}} {{data.ex.starty}}  {{data.ex.endm}} {{data.ex.endy }}</p>
            <p class=" ps-3">{{data.ex.description}}</p>
        </div>
                           {{/each}}

                    <hr></hr>

                    <h3 class="mb-3 ls-2">• EDUCATION</h3>

                          {{#each data.ed}}
        <div>
            <h3 class="float-left text-secondary">• </h3> <h3 class="ps-3 text-secondary">{{data.ed.school}}</h3>
            <p class="m-0 ps-3">{{data.ed.degree}} • {{data.ed.field}} </p>
            <p class="ps-3">{{data.ed.syear}} - {{data.ed.gyear}}</p>
        </div>
                           {{/each}}

                </div>
            </div>
            
        </div>
    
    <script>
        console.log(data.user.lastname);
    </script>
    </body>
</html>
